@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  font-family: 'Roboto', sans-serif;
}
.btn {
  outline: none !important;
  margin: 5px;
  padding: 10px 15px;
  border-radius: 7px;
  cursor: pointer;
  border: none;
  color: white;
  font-weight: bold;
  opacity: 0.8;
  &:hover{
    opacity: 1;
  }
}


.header {
  background-color: rgb(1, 152, 122);
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  @media only screen and (max-width: 600px) {
    font-size: 16px;
  }
}